*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    margin: 20px;
}

header{
    margin: 20px;
}

header h1{
    text-align: center;
}

section{
    position: relative;
    width: 100%;
}

div#container {
    background-color: grey;
    /* padding: 5px; */
    margin: 20px;
    /* display: grid; */
    width: 400px;
    position:relative;
    display: inline-block;
    border: 3px solid black;
}
div > div {
    display: flex;
    justify-content: flex-end;
    /* top:0; */
}

div > div > h2{
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-right: 1px;
    padding: 5px 40px;
}

.chicken h2 {
    background-color: #d59898;
    text-align:right;
    top: 0;
    right: 0;
}
.beef h2{
    background-color:#c14543;
    color: #ffffff;
    text-align:right;
    top: 0;
    right: 0;
}
.sushi h2{
    background-color: #e5d198;
    text-align:right;
    top: 0;
    right: 0;
    
}
p{
    padding:10px;
}